In [1]:
import pandas as pd

In [41]:
jk=pd.read_csv('UP_2022 (2).csv')
dk=pd.read_csv('UP_AC_District (2) (1).csv')
jk

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5
...,...,...,...,...,...,...
4840,403,HRIDAY KUMAR,Independent,1853,0.91,7
4841,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8
4842,403,MISHRI LAL,Independent,1317,0.64,9
4843,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10
4844,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11

# 1. How many constituencies did the Bharatiya Janata Party (BJP) win?

In [27]:
jk[(jk['Party']=='Bharatiya Janata Party') & (jk['Rank']==1)]['Candidate'].count()

255

# 2. Similarly calculate the number of constituencies won by each party.

In [31]:
jk[jk['Rank']==1].groupby('Party')['Candidate'].count()

Party
Apna Dal (Soneylal)                      12
Bahujan Samaj Party                       1
Bharatiya Janata Party                  255
Indian National Congress                  2
Jansatta Dal Loktantrik                   2
Nirbal Indian Shoshit Hamara Aam Dal      6
Rashtriya Lok Dal                         8
Samajwadi Party                         111
Suheldev Bharatiya Samaj Party            6
Name: Candidate, dtype: int64

# 3. In how many constituencies did the Bharatiya Janata Party and the Samajwadi Party occupy the first two ranks (i.e either BJP comes first and SP second or vice versa)

In [38]:
jk[(jk['Party']=='Bharatiya Janata Party')&(jk['Rank']==1)|(jk['Party']=='Bharatiya Janata Party')&(jk['Rank']==2)|(jk['Party']=='Samajwadi Party')&(jk['Rank']==1)|(jk['Party']=='Samajwadi Party')&(jk['Rank']==2)]

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
9,2,MUKESH CHOUDHARY,Bharatiya Janata Party,104114,38.47,1
10,2,DR. DHARAM SINGH SAINI,Samajwadi Party,103799,38.35,2
21,3,RAJEEV GUMBER,Bharatiya Janata Party,143195,48.85,1
...,...,...,...,...,...,...
4815,401,AVINASH KUSHWAHA,Samajwadi Party,78875,37.61,2
4825,402,SANJEEV KUMAR,Bharatiya Janata Party,78364,48.04,1
4826,402,ARVIND KUMAR,Samajwadi Party,51922,31.83,2
4834,403,RAMDULAR,Bharatiya Janata Party,84407,41.28,1
4835,403,VIJAY SINGH,Samajwadi Party,78110,38.20,2

# 4. In how many constituencies did the Bahujan Samaj Party come second.

In [40]:
jk[(jk['Party']=='Bahujan Samaj Party') & (jk['Rank']==2)]['ac_no'].count()

18

# 5. Find the number of constituencies in every district. (you will find the data in the district file)

In [48]:
dk.rename(columns={'AC No.':'ac_no'},inplace=True)

In [49]:
dk

     ac_no           AC Name    District
0        1             Behat  Saharanpur
1        2             Nakur  Saharanpur
2        3  Saharanpur Nagar  Saharanpur
3        4        Saharanpur  Saharanpur
4        5           Deoband  Saharanpur
..     ...               ...         ...
398    399           Marihan    Mirzapur
399    400          Ghorawal   Sonbhadra
400    401       Robertsganj   Sonbhadra
401    402              Obra   Sonbhadra
402    403            Duddhi   Sonbhadra

[403 rows x 3 columns]

In [43]:
dk.groupby('District')['AC No.'].count()

District
Agra               9
Aligarh            7
Allahabad         12
Ambedkar Nagar     5
Auraiya            3
                  ..
Sitapur            9
Sonbhadra          4
Sultanpur          8
Unnao              6
Varanasi           8
Name: AC No., Length: 70, dtype: int64

# 6. What were the top 3 districts for the Bharatiya Janata Party (evaluate on the basis of the % of seats won by the BJP in that district)

In [50]:
result=pd.merge(jk,dk,how='inner',on='ac_no')

In [51]:
result

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank,AC Name,District
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1,Behat,Saharanpur
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2,Behat,Saharanpur
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3,Behat,Saharanpur
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4,Behat,Saharanpur
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5,Behat,Saharanpur
...,...,...,...,...,...,...,...,...
4840,403,HRIDAY KUMAR,Independent,1853,0.91,7,Duddhi,Sonbhadra
4841,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8,Duddhi,Sonbhadra
4842,403,MISHRI LAL,Independent,1317,0.64,9,Duddhi,Sonbhadra
4843,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10,Duddhi,Sonbhadra
4844,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11,Duddhi,Sonbhadra

In [92]:
pd.DataFrame(result[(result['Party']=='Bharatiya Janata Party')&(result['Rank']==1)].groupby('District')['% of Votes'].max().sort_values(ascending=False).head(3))

                     % of Votes
District
Gautam Buddha Nagar       70.16
Ghaziabad                 67.03
Meerut                    66.27

# 7. In how many constituencies, the difference in Total Votes between the Bharatiya Janata Party and the Samajwadi Party was less than 5000.

In [99]:
jk

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5
...,...,...,...,...,...,...
4840,403,HRIDAY KUMAR,Independent,1853,0.91,7
4841,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8
4842,403,MISHRI LAL,Independent,1317,0.64,9
4843,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10
4844,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11

In [119]:
jk2=jk[(jk['Party']=='Bharatiya Janata Party')|(jk['Party']=='Samajwadi Party')][['ac_no','Total Votes']].reset_index()
jk2.drop('index',axis=1,inplace=True)
jk2

     ac_no  Total Votes
0        1       134513
1        1        96633
2        2       104114
3        2       103799
4        3       143195
..     ...          ...
718    401        78875
719    402        78364
720    402        51922
721    403        84407
722    403        78110

[723 rows x 2 columns]

In [131]:
jk3={}
for i in range(0,len(jk2)-1,2):
    jk3[jk2['ac_no'][i]]=abs(jk2['Total Votes'][i]-jk2['Total Votes'][i+1])
jk3

{1: 37880,
 2: 315,
 3: 7434,
 4: 30745,
 5: 7104,
 6: 27473,
 7: 37902,
 8: 12203,
 10: 6820,
 12: 5334,
 13: 25654,
 15: 20610,
 17: 23770,
 18: 26451,
 19: 14345,
 20: 203,
 21: 19230,
 23: 234,
 24: 6065,
 25: 43178,
 26: 19684,
 27: 56820,
 28: 782,
 29: 43162,
 30: 7610,
 31: 35367,
 32: 25206,
 33: 41697,
 34: 25186,
 35: 35312,
 36: 29534,
 37: 21864,
 38: 11018,
 39: 16868,
 40: 26778,
 41: 62436,
 42: 5186,
 44: 18200,
 45: 7312,
 46: 2180,
 47: 55637,
 48: 49337,
 49: 39353,
 51: 10489,
 53: 41880,
 55: 214835,
 56: 105537,
 57: 11679,
 58: 14538,
 60: 26306,
 61: 181513,
 62: 138218,
 63: 8439,
 64: 30775,
 66: 23523,
 68: 68025,
 69: 23606,
 70: 69266,
 72: 22293,
 73: 24926,
 74: 21101,
 75: 17350,
 76: 19606,
 78: 107470,
 79: 343,
 80: 34424,
 82: 23373,
 83: 58660,
 84: 89938,
 86: 97961,
 87: 48697,
 88: 56640,
 89: 119414,
 90: 25215,
 92: 12237,
 93: 22784,
 94: 68756,
 95: 33099,
 96: 5056,
 97: 26725,
 98: 727,
 99: 35991,
 100: 19232,
 101: 38910,
 102: 14916,
 103: 1524,
 104: 21095,
 105: 7561,
 106: 12916,
 107: 4160,
 108: 4629,
 109: 70277,
 110: 43277,
 111: 16129,
 112: 25062,
 113: 26884,
 114: 32711,
 115: 15614,
 116: 8160,
 117: 26030,
 118: 4355,
 119: 35447,
 120: 1120,
 121: 9806,
 122: 26268,
 123: 29438,
 124: 2237,
 125: 793,
 126: 54974,
 127: 33235,
 128: 64105,
 129: 13314,
 130: 7067,
 131: 22166,
 132: 7270,
 133: 40755,
 134: 31735,
 135: 328,
 136: 27608,
 137: 45753,
 138: 41055,
 139: 11009,
 140: 22857,
 141: 38775,
 142: 3770,
 143: 9879,
 144: 17534,
 145: 519,
 146: 18595,
 147: 34456,
 148: 6182,
 149: 12521,
 150: 4315,
 151: 19353,
 152: 5414,
 154: 25687,
 155: 6479,
 156: 42411,
 157: 7998,
 158: 9233,
 159: 24890,
 160: 26244,
 161: 10750,
 162: 27781,
 163: 44455,
 164: 56558,
 165: 31576,
 166: 49719,
 167: 3606,
 168: 49295,
 169: 40492,
 170: 20057,
 171: 22846,
 172: 47722,
 173: 20291,
 174: 14594,
 175: 38454,
 176: 24794,
 178: 27829,
 179: 14489,
 180: 7175,
 181: 2111,
 182: 3807,
 183: 6621,
 184: 61344,
 185: 6963,
 186: 18096,
 187: 269,
 188: 1009,
 189: 15754,
 190: 9533,
 191: 25723,
 192: 2439,
 193: 58152,
 194: 26981,
 195: 52252,
 196: 17573,
 197: 19395,
 198: 44932,
 199: 29411,
 200: 9510,
 201: 1140,
 202: 8627,
 203: 8239,
 204: 25599,
 205: 22556,
 206: 10051,
 207: 29915,
 208: 47178,
 209: 26587,
 210: 12740,
 211: 40039,
 212: 42558,
 213: 10000,
 214: 45138,
 215: 86332,
 216: 78141,
 217: 3369,
 219: 42196,
 220: 58862,
 221: 27347,
 222: 74448,
 223: 13073,
 225: 33662,
 226: 107953,
 227: 126397,
 228: 25485,
 229: 61979,
 230: 43447,
 231: 41881,
 232: 28425,
 233: 7393,
 234: 6719,
 235: 15214,
 236: 20876,
 237: 6419,
 238: 14057,
 240: 8601,
 241: 13006,
 242: 25181,
 243: 5509,
 244: 18078,
 245: 38906,
 246: 22322,
 248: 18308,
 249: 10436,
 250: 33344,
 251: 22565,
 252: 8810,
 254: 14324,
 255: 12083,
 256: 9683,
 258: 5862,
 259: 14411,
 260: 38560,
 261: 8064,
 262: 55857,
 263: 4997,
 265: 24487,
 266: 217,
 267: 261,
 268: 35050,
 269: 2982,
 270: 32402,
 271: 40616,
 272: 25691,
 273: 13338,
 274: 5560,
 275: 19990,
 276: 13079,
 277: 1739,
 278: 10999,
 279: 28886,
 280: 10695,
 281: 30888,
 282: 8405,
 284: 10428,
 285: 42684,
 286: 4078,
 287: 12056,
 288: 7711,
 289: 13574,
 290: 1457,
 291: 44217,
 292: 5837,
 293: 21769,
 294: 10971,
 295: 23218,
 296: 6699,
 297: 18457,
 298: 35472,
 299: 53690,
 300: 42349,
 301: 22974,
 303: 30939,
 304: 20340,
 305: 1662,
 306: 771,
 307: 18329,
 308: 24179,
 309: 15226,
 310: 1779,
 311: 7115,
 313: 12622,
 314: 694,
 315: 58475,
 317: 62731,
 318: 608,
 319: 47997,
 320: 62404,
 321: 89076,
 322: 64267,
 323: 3675,
 324: 27635,
 325: 38849,
 326: 36393,
 327: 41862,
 328: 39364,
 330: 42635,
 331: 67378,
 332: 44253,
 333: 40188,
 334: 63491,
 336: 41936,
 337: 40655,
 338: 28681,
 339: 14670,
 340: 18082,
 341: 3711,
 342: 22605,
 344: 24307,
 345: 22515,
 346: 29103,
 347: 16036,
 348: 34187,
 349: 25306,
 350: 13561,
 351: 14733,
 352: 14149,
 353: 4448,
 354: 22216,
 355: 26649,
 356: 13094,
 358: 51211,
 359: 28925,
 360: 30711,
 361: 25671,
 362: 10712,
 363: 24101,
 364: 5449,
 366: 8052,
 367: 79038,
 368: 5230,
 369: 8484,
 370: 9527,
 372: 9844,
 373: 33198,
 374: 19396,
 375: 12345,
 376: 1166,
 378: 18759,
 379: 22456,
 380: 14921,
 381: 16661,
 382: 10917,
 383: 9251,
 384: 16763,
 386: 19240,
 388: 5927,
 389: 58933,
 390: 44174,
 391: 18106,
 392: 28638,
 394: 1647,
 395: 54253,
 396: 9118,
 398: 5603,
 399: 59270,
 400: 7141,
 401: 511,
 402: 32485}

In [137]:
jk4=pd.DataFrame(list(jk3.items()),columns = ['ac_no','Vote_diff'])
jk4

     ac_no  Vote_diff
0        1      37880
1        2        315
2        3       7434
3        4      30745
4        5       7104
..     ...        ...
356    398       5603
357    399      59270
358    400       7141
359    401        511
360    402      32485

[361 rows x 2 columns]

In [149]:
jk4[jk4['Vote_diff']<5000]['ac_no'].count()

44

In [148]:
print(jk4[jk4['Vote_diff']<5000]['ac_no'].count(),"Number of constituencies the difference in Total Votes between the Bharatiya Janata Party and the Samajwadi Party was less than 5000")

44 Number of constituencies the difference in Total Votes between the Bharatiya Janata Party and the Samajwadi Party was less than 5000

# 8. For the consituencies in part 7, in how many constituencies did the BJP lose (did not come first)

In [164]:
jk[(jk['Party']!='Bharatiya Janata Party')&(jk['Rank']==1)]['ac_no'].count()
print(jk[(jk['Party']!='Bharatiya Janata Party')&(jk['Rank']==1)]['ac_no'].count(),"constituencies did the BJP lose")

148 constituencies did the BJP lose

# 9. For every assembly constituency, find the number of parties that got more than 10,000 total votes.

In [170]:
jk[jk['Total Votes']>10000].groupby('ac_no')['Party'].count()

ac_no
1      3
2      3
3      2
4      3
5      3
      ..
399    4
400    4
401    3
402    3
403    3
Name: Party, Length: 403, dtype: int64

# 10. Calculate the district level vote % for each party.To calculate the vote % in a district. Add the total votes from all consituencies in that district for a party and divide it by the total votes in that district.

In [172]:
result

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank,AC Name,District
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1,Behat,Saharanpur
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2,Behat,Saharanpur
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3,Behat,Saharanpur
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4,Behat,Saharanpur
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5,Behat,Saharanpur
...,...,...,...,...,...,...,...,...
4840,403,HRIDAY KUMAR,Independent,1853,0.91,7,Duddhi,Sonbhadra
4841,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8,Duddhi,Sonbhadra
4842,403,MISHRI LAL,Independent,1317,0.64,9,Duddhi,Sonbhadra
4843,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10,Duddhi,Sonbhadra
4844,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11,Duddhi,Sonbhadra

In [ ]:
pd.DataFrame(result.groupby(['District','Party'])['Total Votes'].sum()/result.groupby('District')['Total Votes'].sum()*100)